Gemfile.lock

*.iml
/local.properties
.DS_Store


.idea/*
!.idea/codeStyles/
!.idea/dictionaries/
.idea/codeStyles/codeStyleConfig.xml
!.idea/icon.png


/captures
.externalNativeBuild

/build/

gradle-app.setting
.gradletasknamecache

*.iws
out/
.idea_modules/

*.dex
*.class

bin/
gen/

.gradle/
build/
local.properties
proguard/
*.log
.navigation/
captures/

*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

!gradle-wrapper.jar
/projectFilesBackup/
!libs/*.jar

!.idea/runConfigurations

classes
*.asv

desktop.ini
